<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <style>
    body{
      background-color: red;
      text-align: center;
      vertical-align: middle; 
    }
    h1{
      font-family: 'Shojumaru', cursive;
    }
    
  </style>
</head>
  <body>
      <h1>VEHICLE PARKING SYSTEM</h1>
      <p>A complete solution for parking management system</p>
      <br>
    <nav class="navbar navbar-default navbar-centre">
                <div class="container">
            
                  <ul class="nav navbar-nav navbar-centre">
                    <li class="active"><a href="/">HOME</a></li>
                    <li class="active"><a href="#">ABOUT US</a></li>
                            <li class="active"><a href="Login" class="dropdown-item">LOGIN</a></li>
                          <li class="active"><a href="Signup" class="dropdown-item">SIGNUP</a></li>
                       
                        <li class="active"><a href="contact">CONTACT US</a></li>
                  </ul>
                 
                </div>
              </nav>
              <div class="pic">
               
                  <img src="./images/img.jpg" alt="Northern Lights" width="100%" height="370">
              
              </div>
              <h2>The Problem of Parking in India</h2>
              <p>Do you know that a commuter in Delhi spends over 80 hours every year looking for parking spaces? That’s true. As soon as we step out, we are stuck! The case of parking is applicable to the central idea of economics which asserts that the economy’s limited resources are not sufficient to satisfy all human needs and wants.


                Due to rapid economic and population growth, Indian metropolitan cities are staring at a mobility crisis. Having limited land for parking spaces or reduced parking spaces with an immensely increasing population has put India into big trouble. The number of families with cars has become much more than what the country is able to manage. Even families from low-income groups own a car today. This creates tremendous pressure on parking spaces which has led to serious concerns like traffic congestion, accidents, disproportionate demand and supply ratio, environmental hazards, etc. Because of poor parking management and policy, India struggles with chaotic situations like overcrowded footpaths, illegal parking, and criminal activities due to improper surveillance.</p>
  
  <img src="./images/kl.jpg" width="100%" height="500">
  <p><h1>The Need for Smart Parking Systems</h1>
    Fishing for a parking space is a routine activity and it is estimated that nearly 30% of urban congestion is created by drivers cruising for parking space, according to ITS America’s Market Analysis. Also resulting in oil wastage, almost one million barrels of world’s oil every day. This ever growing traffic congestion and uncertainty in the parking availability and payment have thus enforced the need for a Smart Parking systems. A Smart parking technology that will help optimize parking space usage, improve the efficiency of the parking operations and help smoother traffic flow.
    
    Smart Parking solutions are designed to provide drivers an ultimate solution on their journey from the beginning to end without searching for parking, cost, travel time etc. This advantage comes by paying marginal fees to the smart parking service providers.</p>

              </body>
  
</html>